/*特惠页面css*/

.slides{
	padding:0;
	width:100%;
	height:400px;
	display:block;
	position:relative;
}
.slides input{
	display:none;
}
.slide{
	opacity:0;
	width:100%;
	height:400px;
	display:block;
	position:absolute;
	transform:scale(0.3);/*使元素水平方向和垂直方向同时缩放*/
	transition:all .8s ease-in-out;/*0.8s消失*/
	top:0px;
}
.slide img{
	width:100%;
	height:100%;
}
.tab label{
	display:none;
	position:absolute;
	top:0px;
	opacity:0;
	z-index:9;
	cursor:pointer;
	transition:opacity .2s;
	color:#FFF;
	font-size:100pt;
	text-align:center;
	line-height:380px;
}
.slide:hover + .tab label{
	opacity:0.3;
}
.tab label:hover{
	opacity:1;
}
.tab .next{
	right:0;
}
input:checked + .slide-container  .slide{
	opacity:1;
	transform:scale(1);
	transition:opacity 2s ease-in-out;/*2s出现*/
}
input:checked + .slide-container .tab label{
	display:block;
}
.tab-dots{
	width:100%;
	bottom:0px;
	display:block;
	position:absolute;
	text-align:center;
}
.tab-dots .tab-dot{
	top:-11px;
	width:24px;
	height:24px;
	margin:0 6px;/*间隙*/
	position:relative;
	border-radius:100%;/*全圆*/
	display:inline-block;
	background-color:rgba(0, 0, 0, 0.4);
}
.tab-dots .tab-dot:hover{
	cursor:pointer;
	background:rgba(0, 0, 0, 0.6);
}
input#img-1:checked ~ .tab-dots label#img-dot-1,
input#img-2:checked ~ .tab-dots label#img-dot-2,
input#img-3:checked ~ .tab-dots label#img-dot-3,
input#img-4:checked ~ .tab-dots label#img-dot-4,
input#img-5:checked ~ .tab-dots label#img-dot-5{
	background-image: url(../img/lvlooo2.png);
}

.submenu{
	position: relative;
	left: 20%;
	height: 160px;
	width: 60%;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
	color: #000;
	font-weight:bold;
}
.submenu a{
	color: #001111;
	padding-right: 10px;
	padding: 3px;
	border-radius: 5px;
}
.submenu a:hover,.submenu .active{
	color: #fff;
	background-color: rgb(153, 113, 77);
}
.list{
	position: relative;
	left: 120px;
	width: 900px;
	white-space:normal;
}
.summary{
	position:relative;
	top: 20px;
	width: 100px;
	text-align: right;
}

.contents{
	float: left;
	position: relative;
	left: 10%;
	width: 910px;
}
.content-photo{
	float: left;
}
.content-introduction{
	float: right;
	width: 350px;
}
.content-buy{
	float: right;
}
.content-price{
	float: left;
	position: relative;
	right: 100px;
}
.content-price h1{
	font-style: italic;
	color: red;
	font-weight:bold;
}
.content-buy a{
	float: right;
	width: 145px;
	height: 51px;
}
.content-but{
	background:url(../img/立即抢购2.11.png) no-repeat  center;
}
.content-but:hover{
	background:url(../img/立即抢购2.22.png) no-repeat  center;
}

.rightsidebar{
	position: absolute;
	right: 5%;
}
.pages{
	clear: both;
	position: relative;
	left: 40%;
	width: 400px;
	padding: 78px 0;
}
.pages span,.pages a{
	font-size:15px; 
	margin:0 2px;
	border-radius: 5px;
}
.pages a,.pages .active{
	padding:6px 8px; 
	text-decoration:none;
	color:#000;
	background:#F5F9E8;
}
.pages .active,.pages a:hover{
	background:rgb(153, 113, 77);
	color:#fff;
}